{% extends 'base.html' %}

{% block title_head %}
<title>Book Creation</title>
{% endblock title_head %}

{% block navigation_menu %}
<ul class="nav nav-pills">
    <li class="nav-item"><a href={% url 'initial:initial' %} class="nav-link">Initial</a></li>
    <li class="nav-item"><a href={% url 'initial:book_list' %} class="nav-link active" aria-current="page" >Books</a></li>
    <li class="nav-item"><a href={% url 'initial:client_list' %} class="nav-link">Clients</a></li>
    <li class="nav-item"><a href={% url 'initial:user_list' %} class="nav-link">Inbox</a></li>
</ul>
{% endblock navigation_menu %}

{% block h1_header %}
Book Creation
{% endblock h1_header %}

{% block content %}

<p>{{msgLabel}}</p>

<form action="" method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    <table>
    {{formBook}}
    {{formBook.media}}
    </table>
    <button>Create</button>
</form>

{% endblock content %}