{% extends 'base.html' %}

{% block title_head %}
<title>Initial</title>
{% endblock title_head %}

{% block navigation_menu %}
<!-- <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0"> -->
<ul class="nav nav-pills">
    <li class="nav-item"><a href={% url 'initial:initial' %} class="nav-link active" aria-current="page">Initial</a></li>
    <li class="nav-item"><a href={% url 'initial:book_list' %} class="nav-link" >Books</a></li>
    <li class="nav-item"><a href={% url 'initial:client_list' %} class="nav-link">Clients</a></li>
    <li class="nav-item"><a href={% url 'initial:user_list' %} class="nav-link">Users</a></li>
</ul>
{% endblock navigation_menu %}

{% block h1_header %}
Welcome to the Library
{% endblock h1_header %}

{% block content %}
<p>
    Welcome Library page
</p>
{% endblock content %}