{% extends 'base.html' %}

{% block title_head %}
<title>Users</title>
{% endblock title_head %}

{% block navigation_menu %}
<ul class="nav nav-pills">
    <li class="nav-item"><a href={% url 'initial:initial' %} class="nav-link">Initial</a></li>
    <li class="nav-item"><a href={% url 'initial:book_list' %} class="nav-link" >Books</a></li>
    <li class="nav-item"><a href={% url 'initial:client_list' %} class="nav-link">Clients</a></li>
    <li class="nav-item"><a href={% url 'initial:user_list' %} class="nav-link active" aria-current="page">Inbox</a></li>
</ul>
{% endblock navigation_menu %}

{% block h1_header %}
User List
{% endblock h1_header %}

{% block content %}
<button>
    <a class="navbar-brand" href={% url 'initial:user_create' %}>Create user</a>
</button>

<!--<p>{{msgLabel}}</p>-->

<form action="" method="get">
    {{formUser}}
    <button>Find</button>
</form>

{% if listUser %}
    {%for user in listUser %}
    {% comment "" %}<li>Fullname: {{user.fullname}} - UserName: {{user.username}} - UserPassword: {{user.userpass}}</li>{% endcomment %}
    <li>
        {{user}}
        <a href={% url 'initial:user_detail' user.id %}><button>Detail</button></a>
        <a href={% url 'initial:user_delete' user.id %}><button>Delete</button></a>
        <a href={% url 'initial:user_update' user.id %}><button>Update</button></a>
    </li>
    {%endfor%}
{% else %}
    <p>No se encontraron registros.</p>
{% endif %}

{% endblock content %}