{% extends 'base.html' %}

{% block title_head %}
<title>Book Update</title>
{% endblock title_head %}

{% block navigation_menu %}
<ul class="nav nav-pills">
    <li class="nav-item"><a href={% url 'initial:initial' %} class="nav-link">Initial</a></li>
    <li class="nav-item"><a href={% url 'initial:book_list' %} class="nav-link active" aria-current="page" >Books</a></li>
    <li class="nav-item"><a href={% url 'initial:client_list' %} class="nav-link">Clients</a></li>
    <li class="nav-item"><a href={% url 'initial:user_list' %} class="nav-link">Inbox</a></li>
</ul>
{% endblock navigation_menu %}

{% block h1_header %}
Book Update
{% endblock h1_header %}

{% block content %}
<form action="" method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    <table>
        {{formBook}} {% comment "si fuera CBV" %}form{% endcomment %}
        {{formBook.media}} 
    </table>
    <button>Update</button>
</form>
{% endblock content %}