{% extends 'base.html' %}

{% block title_head %}
<title>User Update</title>
{% endblock title_head %}

{% block navigation_menu %}
<ul class="nav nav-pills">
    <li class="nav-item"><a href={% url 'initial:initial' %} class="nav-link">Initial</a></li>
    <li class="nav-item"><a href={% url 'initial:book_list' %} class="nav-link" >Books</a></li>
    <li class="nav-item"><a href={% url 'initial:client_list' %} class="nav-link">Clients</a></li>
    <li class="nav-item"><a href={% url 'user:inbox_list' %} class="nav-link">Inbox</a></li>
</ul>
{% endblock navigation_menu %}

{% block h1_header %}
User Update: {{user.first_name}} {{user.last_name}}
{% endblock h1_header %}

{% block content %}
<form action={% url 'user:user_update' %} method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    <table>
        {{formUser}}
    </table>
    <button>Update</button>
    <button type='button'><a  class="nav-link" href={% url 'user:user_password' %}>Password Update</a></button>
</form>
{% endblock content %}