{% extends 'base.html' %}

{% block title_head %}
<title>Inbox Detail</title>
{% endblock title_head %}

{% block navigation_menu %}
<ul class="nav nav-pills">
    <li class="nav-item"><a href={% url 'initial:initial' %} class="nav-link">Initial</a></li>
    <li class="nav-item"><a href={% url 'initial:book_list' %} class="nav-link" >Books</a></li>
    <li class="nav-item"><a href={% url 'initial:client_list' %} class="nav-link">Clients</a></li>
    <li class="nav-item"><a href={% url 'user:inbox_list' %} class="nav-link active" aria-current="page">Inbox</a></li>
</ul>
{% endblock navigation_menu %}

{% block h1_header %}
Message from: {{userinbox.createdbyuser}}
{% endblock h1_header %}

{% block content %}
<li>From User {{userinbox.createdbyuser}}</li>
<li>Message: {{userinbox.msg|safe}}</li>
<li>Sent to : {{userinbox.user}}</li>
{% endblock content %}