{% extends 'base.html' %}

{% block title_head %}
<title>User Detail</title>
{% endblock title_head %}

{% block navigation_menu %}
<ul class="nav nav-pills">
    <li class="nav-item"><a href={% url 'initial:initial' %} class="nav-link">Initial</a></li>
    <li class="nav-item"><a href={% url 'initial:book_list' %} class="nav-link" >Books</a></li>
    <li class="nav-item"><a href={% url 'initial:client_list' %} class="nav-link">Clients</a></li>
    <li class="nav-item"><a href={% url 'initial:user_list' %} class="nav-link active" aria-current="page">Users</a></li>
</ul>
{% endblock navigation_menu %}

{% block h1_header %}
User: {{user.fullname}}
{% endblock h1_header %}

{% block content %}
<li>Fullname: {{user.fullname}}</li>
<li>User: {{user.username}}</li>
<li>Password: {{user.userpass}}</li>
{% endblock content %}