{% extends 'base.html' %}

{% block title_head %}
<title>User Update</title>
{% endblock title_head %}

{% block navigation_menu %}
<ul class="nav nav-pills">
    <li class="nav-item"><a href={% url 'initial:initial' %} class="nav-link">Initial</a></li>
    <li class="nav-item"><a href={% url 'initial:book_list' %} class="nav-link" >Books</a></li>
    <li class="nav-item"><a href={% url 'initial:client_list' %} class="nav-link">Clients</a></li>
    <li class="nav-item"><a href={% url 'initial:user_list' %} class="nav-link active" aria-current="page">Users</a></li>
</ul>

<div class="col-md-3 text-end">
    <!-- <button type="button" class="btn btn-outline-primary me-2">Login</button>-->
    <button type="button" class="btn btn-outline-primary me-2">Login</button>
    <button type="button" class="btn btn-outline-primary">Sign-up</button>
  </div>
{% endblock navigation_menu %}

{% block h1_header %}
User Update: {{user.fullname}}
{% endblock h1_header %}

{% block content %}
<form action={% url 'initial:user_update' user.id %} method="post">
    {% csrf_token %}
    <table>
        {{form}}
    </table>
    <button>Update</button>
</form>
{% endblock content %}